<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Spring Boot App</title>
</head>
<body>
<h1>Spring Boot App</h1>
<form action="/addUser" method="post">
    Name: <input type="text" name="name"><br>
    Phone Number: <input type="text" name="phoneNumber"><br>
    <input type="submit" value="Submit">
</form>
<br>
<div th:if="${users}">
    <h2>Users</h2>
    <table>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Phone Number</th>
        </tr>
        <tr th:each="user : ${users}">
            <td th:text="${user.id}"></td>
            <td th:text="${user.name}"></td>
            <td th:text="${user.phoneNumber}"></td>
        </tr>
    </table>
</div>
</body>
</html>